/* root */
:root {

  /* text color */
  --primary-text-color: #1C1917;
  --secondary-text-color: #78716C;
  --tertiary-text-color: #A8A29E;
  --quaternary-text-color: #57534E;
  --fifth-text-color: #EF4444;
  --six-text-color: #A3A3A3;
  --seven-text-color: #FAFAF9;
  --eight-text-color: #F97316;
  --nine-text-color: #44403C;
  --ten-text-color: #404040;
  --eleven-text-color: #3B82F6;
  --twelve-text-color: #D6D3D1;
  --thirteen-text-color: #000000;
  --fourteen-text-color: #18181B;
  --fifteen-text-color: #71717A;

  /* font-family */
  --primary-font-family: 'Inter', sans-serif;

  /* font-weight */
  --primary-font-weight: 400;
  --secondary-font-weight: 500;
  --tertiary-font-weight: 600;
  --quaternary-font-weight: 700;
  --fifth-font-weight: 800;

  /* border-color */
  --primary-border-color: #E7E5E4;
  --secondary-border-color: #78716C;
  --tertiary-border-color: #000000;
  --quaternary-border-color: #D6D3D1;
  --fifth-border-color: #E5E5E5;
  --six-border-color: #D4D4D4;
  --seven-border-color: #F97316;
  --eight-border-color: #EA580C;

  /* btn-color */
  --primary-btn-color: #1C1917;
  --secondary-btn-color: #F97316;
  --tertiary-btn-color: #DC2626;

  /* background-color */
  --primary-background-color: #FAFAF9;
  --secondary-background-color: #1C1917;
  --tertiary-background-color: #F5F5F4;
  --quaternary-background-color: #2563EB;
  --fifth-background-color: #ffffff;
  --six-background-color: #F5F5F5;
  --seven-background-color: #E7E5E4;

  }